@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#page-container{
  height: 180vh;
  width: 100vw;
  margin: 0;
}

#content-container{
  top: 0px;
  height: 180vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color:transparent;
  color: white;
}

#background {
  height: 173%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

#email-box-container{
  padding-top: 50vh;
}

#email-box{
  display: grid;
  justify-content: center;
  padding-top: 4vh;
  position:relative; 
  left:30px; 
}

#email-input{
  border: none;
  border-radius: 50px;
  width: 300px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#email-button{
  border-radius: 50px;
  background-color: white;
  color: gray;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position:relative; 
  left:-75px; 
  justify-content: center;
}
#email-button:active,
#email-button.lit{
  color:black;
}

#explanation{
  font-size: 18px;
  padding-top: 2vh;
  padding-left: 1em;
  padding-right: 1em;
  width:600px; 
  text-align:justify; 
  word-break:break-all;
  justify-content: center;
  text-align: center;
  font-style: italic;
}

#retune-title{
  padding-top: 30vh;
  font-size: 130px;
  justify-content: center;
  text-align: center;
}

#retune-slogan{
  font-size: 24px;
  padding-top: 3vh;
  justify-content: center;
  text-align: center;
}

#stay-in-tune{
  display: grid;
  font-size: 30px;
  justify-content: center;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.montserrat {
  font-family: 'Montserrat', serif;
}
